.about-sub {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 25px;
    transition: transform 0.5s;
    display: flex;
}
  
.about-text {
    font-size: 18px;
    text-align: justify;
    text-justify: auto;
    display: flex;
    width: 30%;
    height: 15vh;
}

.skills-col {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 100px; 
}
  
.skills-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-self: center;
    margin-bottom: 25px;
}
  
.skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    gap: 10px;
}

.glass-tile {
    position: relative;
    transition: transform 0.5s;
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    /* border: 1px solid rgba(161, 153, 237, 0.4); */
    border: 1px solid rgba(211, 39, 62, 0.4);
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
}

.glass-tile:hover {
    transform: scale(1.5);
    border: 1px solid rgba(161, 153, 237, 0.4);
}

.glass-tile:hover .glass {
    background-color: rgba(161, 153, 237, 0.2);
}

.glass {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* background-color: rgba(161, 153, 237, 0.2); */
    background-color: rgba(211, 39, 62, 0.2);
    filter: blur(4px);
    border-radius: 8px;
    transition-duration: 0.5s;
}
  
.skill {
    position: relative;
    padding: 25px;
    z-index: 1;
    list-style-type: none;
}
  
.profile-img {
    height: 20vw;
    width: 20vw;
    border: 2px solid var(--red);
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px)  {
    .profile-img { height: 90vw; width: 90vw; }

    .about-sub { font-size: 24px; }

    .skills-col { width: 90%; }

    .about-text { width: 90%; height: 30vh; }
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
    .profile-img { height: 30vw; width: 30vw; }

    .skills-col { width: 60%; }

    .about-text { width: 60%; height: 20vh; }
}
