.chat-messages {
  height: calc(100% - 10vh - 5px);
  top: 5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-form {
  position: absolute;
  background-color: var(--black);
  border-top: 2px solid var(--red);
  height: 10%;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}

.chat-input {
  background-color: var(--gray);
  color: white;
  border: none;
  height: 70%;
  width: 75%;
  border-radius: 16px;
  padding: 0 15px;
  margin-left: 5px;
}

.chat-input:focus {
  outline: none;
}

.chat-icon {
  margin-left: 10px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 7px 5px 10px;
}

.chat-icon:hover {
  cursor: pointer;
}

.chat-icon:active {
  background-color: var(--gray);
}

.chat-text {
  position: relative;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 16px;
  max-width: 50%;
  padding: 5px 10px;
}

.chat-left {
  margin-left: 15px;
  margin-right: auto;
  background-color: var(--purple);
}

.chat-right {
  margin-left: auto;
  margin-right: 15px;
  background-color: var(--red);
}

.chat-header {
  position: fixed;
  width: 15vw;
  bottom: 0;
  right: 100px;
  border: 2px solid var(--red);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 1;
}

.chat-body {
  height: 50vh;
  visibility: hidden;
}

.chat-drop {
  position: absolute;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--red);
  z-index: 1;
}

.chat-popup {
  height: 5vh;
  display: flex;
  align-items: center;
}

.chat-name {
  font-size: 24px;
  font-weight: bold;
  margin-left: 25px;
}

.chat-up {
  margin-left: auto;
  margin-right: 25px;
  border-radius: 50%;
  padding: 10px;
}

.chat-up:hover {
  cursor: pointer;
  background-color: var(--gray);
}

.msg-card {
  margin-bottom: 25px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
  background-color: var(--black);
  border: 2px solid var(--red);
  border-radius: 4px;
}
  
.msg-heading {
  display: flex;
  align-items: flex-end;
  padding: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--red);
}

.msg-name {
  font-size: 24px;
}

.msg-date {
  margin-left: auto;
  margin-right: 0;
}

.msg-email {
  padding: 25px 10px 10px 10px;
  margin: 0 25px;
  border-bottom: 2px solid var(--red);
}

.msg-body {
  margin: 0 25px;
  padding: 10px 10px 25px 10px;
  font-family: 'Ubuntu', sans-serif;
  white-space: pre-wrap;
}

.icon {
  position: relative;
  margin-left: 15px;
  bottom: -4px;
  transition: 0.5s;
}

.icon:hover {
  cursor: pointer;
  color: var(--red);
}

@media only screen and (max-width: 768px)  {
  .chat-popup { visibility: hidden; }
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
  .chat-header { width: 25vw; right: 25px; }

  .chat-body { height: 60vh; }

  .chat-drop { height: 8vh; }

  .chat-popup { height: 8vh; }

  .chat-messages { top: 8vh; height: calc(100% - 13vh - 5px); }

  .chat-input { width: 80%; }
}