.msg-tile {
  border-radius: 8px;
  margin-bottom: 25px;
}

.msg-card {
  position: relative;
}
  
.msg-heading {
  display: flex;
  align-items: flex-end;
  padding: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(211, 39, 62, 0.4);
}

.msg-name {
  font-size: 24px;
}

.msg-date {
  margin-left: auto;
  margin-right: 0;
}

.msg-email {
  padding: 25px 10px 10px 10px;
  margin: 0 25px;
  border-bottom: 1px solid rgba(211, 39, 62, 0.4);
}

.msg-body {
  margin: 0 25px;
  padding: 10px 10px 25px 10px;
  font-family: 'Ubuntu', sans-serif;
  white-space: pre-wrap;
}

.icon {
  position: relative;
  margin-left: 15px;
  bottom: -4px;
  transition: 0.5s;
}

.icon:hover {
  cursor: pointer;
  color: var(--red);
}