.contact-body {
    display: flex;
    flex-direction: column;
}

.contact-input {
    position: relative;
    border: 1px solid rgba(211, 39, 62, 0.4); 
    margin-bottom: 25px;
    border-radius: 4px;
    padding: 12px 20px;
    background-color: rgba(211, 39, 62, 0.2);
    color: white;
    font-size: 18px;
    transition-duration: 0.3s;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    resize: none;
}

.contact-input:focus {
    outline: none;
    background-color: rgba(39, 211, 188, 0.2);
    border: 1px solid rgba(39, 211, 188, 0.4);
}

.contact-input::placeholder {
    color: white;
}

.contact-btn {
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    background-color: rgba(211, 39, 62, 0.2);
    border: 1px solid rgba(211, 39, 62, 0.4);
    color: white;
}

.contact-btn:hover {
    background-color: rgba(39, 211, 188, 0.2);
    border: 1px solid rgba(39, 211, 188, 0.4);
    color: white;
}
