.contact-body {
    display: flex;
    flex-direction: column;
}

.contact-input {
    margin-bottom: 15px;
    border: 2px solid var(--red); 
    border-radius: 4px;
    padding: 12px 20px;
    background-color: var(--black);
    color: var(--white);
    font-size: 18px;
    transition-duration: 0.3s;
}

.contact-input:focus {
    outline: none;
    border: 2px solid var(--purple);
}
