.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 60vw;
}

.project-glass-tile {
    position: relative;
    width: 19%;
    border: 1px solid rgba(211, 39, 62, 0.4);
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
}

.project-glass {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(211, 39, 62, 0.2);
    filter: blur(1px);
    border-radius: 8px;
}

.project-card {
    position: relative;
    /* border-radius: 4px;
    border: 2px solid var(--red);
    width: 19%;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8); */
}

.project-img {
    background-color: var(--black);
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: -4px;
}

.project-img:hover {
    cursor: pointer;
}

.project-body {
    padding: 10px;
    border-top: 1px solid rgba(211, 39, 62, 0.4);
    /* border-top: 2px solid var(--red); */
    /* background-color: var(--black); */
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.project-buttons {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.project-btn {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 1px solid rgba(211, 39, 62, 0.4);
    background-color: transparent;
    color: white;
  }
  
  .project-btn:hover {
    background-color: rgba(161, 153, 237, 0.2);
    border: 1px solid rgba(161, 153, 237, 0.4);
    cursor: pointer;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
  }

.slideshow {
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: var(--black);
    border-radius: 20px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    user-select: none;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    border: none;
}

.slide-icons {
    position: absolute;
    width: 100%;
    display: flex;
}

.left-icon {
    margin-left: 25px;
}

.right-icon {
    margin-left: auto;
    margin-right: 25px;
}

.exit-icon {
    position: fixed;
    top: calc(5vh + 50px);
    right: 50px;
}

@media only screen and (max-width: 768px)  {
    .projects { width: 80%; margin-bottom: 10vh; }

    .project-glass-tile { width: 100%; }

    .slideshow { height: 60vh; width: 80vw; }

    .left-icon { margin-left: 5px; }

    .right-icon { margin-right: 5px; }

    .exit-icon { top: calc(10vh + 5px); right: 5px; }
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
    .projects { width: 80%; }

    .project-glass-tile { width: 25%; }

    .slideshow { height: 70vh; width: 80vw; }

    .left-icon { margin-left: 15px; }

    .right-icon { margin-right: 15px; }

    .exit-icon { top: calc(8vh + 25px); right: 25px; }

}