.sign-glass-tile {
    position: relative;
    width: 20%;
    border: 1px solid rgba(211, 39, 62, 0.4);
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
}

.sign-glass {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(211, 39, 62, 0.2);
    filter: blur(1px);
    border-radius: 8px;
}

.signin-box {
    position: relative;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 50px 0;
    display: flex;
}

.signin-inputs {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 25px;
}

.signin-input {
    margin-bottom: 25px;
    border: 1px solid rgba(211, 39, 62, 0.4); 
    border-radius: 4px;
    padding: 12px 20px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    transition-duration: 0.3s;
}

.signin-input:focus {
    outline: none;
    border: 1px solid rgba(161, 153, 237, 0.4);
    background-color: rgba(161, 153, 237, 0.2);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
}

.signin-input::placeholder {
    color: var(--white);
}

@media only screen and (max-width: 768px)  {
    .width { width: 90%; }

    .sign-glass-tile { width: 90%; }

    .signin-title { font-size: 28px; }
}
  
@media only screen and (min-width: 769px) and (max-width: 1800px)  {
    .width { width: 40%; }

    .sign-glass-tile { width: 40%; }
}