.terminal-glass-tile {
    position: relative;
    border: 1px solid rgba(211, 39, 62, 0.4);
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8);
    margin: 100px 0 5vh;
}

.terminal-glass {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(211, 39, 62, 0.2);
    filter: blur(1px);
    border-radius: 8px;
}

.terminal {
    position: relative;
    width: 50vw;
    height: 50vh;
    border-radius: 8px;
    /* background-color: var(--black); */
    /* box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.8); */
    /* border: 2px solid var(--red); */
}

.terminal:hover {
    cursor: text;
}

.terminal-panel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    /* border-bottom: 2px solid var(--red); */
    border-bottom: 1px solid rgba(211, 39, 62, 0.4);
    border-radius: 8px 8px 0 0;
}

.terminal-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 25px;
}

.terminal-body {
    height: calc(100% - 54px);
    border-radius: 0 0 8px 8px;
    padding: 10px;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

/* width */
.terminal-body::-webkit-scrollbar {
    width: 4px;
}

.terminal-body::-webkit-scrollbar-track {
    background-color: transparent;
}

.terminal-body input {
    position: relative;
    width: calc(100% - 500px);
    /* height: calc(100% - 20px); */
    background-color: transparent;
    color: white;
    border: none;
    resize: none;
    caret-color: var(--brick-red);
}

.terminal-body input:focus {
    outline: none;
}

.terminal-body pre {
    font-size: 14px;
    margin: 0 0 3px 0;
    font-family: 'Ubuntu', sans-serif;
    white-space: pre-wrap;
}

.terminal-body span {
    font-size: 14px;
}

.welcome {
    color: var(--brick-red);
}

.path {
    color: var(--purple);
}

.plain {
    color: white;
}

.file {
    color: var(--orange);
    padding-left: 20px;
}

.pwd {
    color: var(--green);
}

@media only screen and (max-width: 768px)  {
    .terminal { display: none;}
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
    .terminal { width: 70vw; height: 60vh; margin-bottom: 8vh; }
}