:root {
  --black: #222222;
  --gray: #444444;
  --red: #D2263C;
  --light-gray: #e4e1e1;
}

body {
  background-color: var(--black);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}

.top-panel {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--black);
  border-bottom: 2px solid var(--red);
  z-index: 1;
}

.name {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 25px;
}

.name:hover {
  cursor: pointer;
}

.links {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 25px;
}

.link {
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.link:hover {
  border-radius: 4px;
  cursor: pointer;
}

.page-body {
  top: 5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  color: white;
  padding-top: 50px;
  padding-bottom: 5vh;
  z-index: 0;
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  color: white;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 80%;
}

.project-card {
  border-radius: 4px;
  border: 2px solid var(--red);
  width: 14%;
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-body {
  padding: 10px;
  /* background-color: var(--gray); */
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.project-buttons {
  margin-top: 15px;
}

.button {
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-right: 15px;
  border: 2px solid var(--red);
  background-color: var(--black);
  color: var(--red);
}

.button:last-of-type {
  margin-right: 0;
}

.button:hover {
  color: var(--black);
  background-color: var(--red);
  cursor: pointer;
}

.about-sub {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 25px;
}

.about-text {
  width: 40%;
  font-size: 18px;
  text-align: justify;
  text-justify: auto;
}

.contact-body {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.contact-input {
  margin-bottom: 15px;
  border: 2px solid var(--red); 
  border-radius: 4px;
  padding: 12px 20px;
  background-color: var(--black);
  color: white;
  font-size: 18px;
}

.contact-input:focus {
  outline: none;
}

.profile-links {
  margin-bottom: 35px;
}

.profile-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 25px;
}

.profile-link:last-of-type {
  margin-right: 0;
}

.profile-link:hover {
  color: var(--red);
}

.profile-link:active {
  color: var(--black);
}

.login-box {
  width: 20%;
  padding: 50px;
  background-color: var(--black);
  border: 2px solid var(--red);
  border-radius: 4px;
}

.login-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.login-body {
  display: flex;
  flex-direction: column;
}

.msg-card {
  width: 40%;
  margin-bottom: 25px;
}

.msg-heading {
  display: flex;
  padding: 25px;
  border: 2px solid var(--red);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.msg-name {
  font-size: 24px;
}

.msg-date {
  margin-left: auto;
  margin-right: 0;
}

.msg-email {
  border: 2px solid var(--red);
  padding: 15px;
}

.msg-body {
  padding: 25px;
  border: 2px solid var(--red);
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media only screen and (max-width: 768px)  {
  .top-panel { height: 10vh; }

  .page-body { top: 10vh; padding-bottom: 10vh; } 

  .project-card { width: 100%; }

  .contact-body { width: 90%; }

  .login-box { width: 80%; }
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
  .top-panel { height: 8vh; }

  .page-body { top: 8vh; padding-bottom: 8vh; }

  .project-card { width: 25%; }

  .contact-body { width: 40%; }

  .login-box { width: 30%; }
}
