:root {
  --black: #222222;
  --white: white;
  --gray: #444444;
  --red: #d3273e;
  --brick-red: #C45349;
  --light-gray: #e4e1e1;
  --purple: #a199ed;
}

body {
  background-color: var(--black);
  background-image: linear-gradient(to bottom right, rgba(211, 39, 62, 0.1), var(--black) 50%);
  color: var(--white);
  font-family: 'Ubuntu', sans-serif;
  user-select: text;
  cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.width {
  width: 30%;
}

.top-panel {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--black);
  border-bottom: 2px solid var(--red);
  z-index: 1;
}

.name {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
  margin-left: 25px;
}

.name:hover {
  cursor: pointer;
}

.links {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 25px;
}

.link {
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  padding: 10px;
  transition-duration: 0.3s;
}

.link:hover {
  border-radius: 4px;
  cursor: pointer;
}

.page-body {
  top: 5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--black); */
  color: var(--white);
  padding-top: 50px;
  padding-bottom: 5vh;
  z-index: 0;
}

.other-body {
  top: 5vh;
  min-height: 84vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  z-index: 0;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  color: var(--white);
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 60%;
}

.project-card {
  border-radius: 4px;
  border: 2px solid var(--red);
  width: 19%;
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-body {
  padding: 10px;
  border-top: 2px solid var(--red);
  background-color: var(--black);
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.project-buttons {
  margin-top: 15px;
}

.button {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin-right: 15px;
  border: 2px solid var(--red);
  background-color: var(--black);
  color: var(--red);
}

.button:last-of-type {
  margin-right: 0;
}

.button:hover {
  color: var(--black);
  background-color: var(--red);
  cursor: pointer;
}

.about-sub {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 25px;
  transition: transform 0.5s;
}

.about-sub:hover {
  transform: scale(1.5);
  font-weight: bold;
  color: var(--purple);
}

.about-text {
  font-size: 18px;
  text-align: justify;
  text-justify: auto;
}

.skills-col {
  margin-top: 50px;
}

.skills-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.skills {
  height: 15vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skill {
  transition: transform 0.5s;
  padding: 15px 0;
  z-index: 1;
  list-style-type: none;
}

.skill:hover {
  transform: scale(1.5);
  font-weight: bold;
  color: var(--red);
}

.profile-img {
  height: 30vh;
  width: 30vh;
  border: 2px solid var(--red);
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
}

.contact-body {
  display: flex;
  flex-direction: column;
}

.contact-input {
  margin-bottom: 15px;
  border: 2px solid var(--red); 
  border-radius: 4px;
  padding: 12px 20px;
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  transition-duration: 0.3s;
}

.contact-input:focus {
  outline: none;
  border: 2px solid var(--purple);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.profile-links {
  margin-bottom: 5px;
}

.profile-link {
  text-decoration: none;
  color: var(--white);
  font-size: 32px;
  font-weight: bold;
  margin-right: 25px;
  transition: 0.3s;
}

.profile-link:last-of-type {
  margin-right: 0;
}

.profile-link:hover {
  color: var(--purple);
}

.profile-link:active {
  color: var(--red);
}

.login-box {
  background-color: var(--black);
  border: 2px solid var(--red);
  border-radius: 4px;
  width: 20%;
}

.login-title {
  font-size: 32px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  margin: 50px 0;
}

.login-input {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.msg-card {
  margin-bottom: 25px;
}

.msg-heading {
  display: flex;
  padding: 25px;
  border: 2px solid var(--red);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.msg-name {
  font-size: 24px;
}

.msg-date {
  margin-left: auto;
  margin-right: 0;
}

.msg-email {
  border: 2px solid var(--red);
  padding: 25px;
}

.msg-body {
  padding: 25px;
  border: 2px solid var(--red);
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.icon {
  position: relative;
  bottom: 2px;
  margin-left: 25px;
}

.icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px)  {
  .top-panel { height: 10vh; }

  .page-body { top: 10vh; padding-bottom: 10vh; } 

  .other-body { top: 10vh; min-height: 79vh; }

  .footer { margin-top: 10vh; }

  .projects { width: 80%; }

  .project-card { width: 100%; }

  .width { width: 90%; }

  .skills { height: 50vh; }
}

@media only screen and (min-width: 769px) and (max-width: 1800px)  {
  .top-panel { height: 8vh; }

  .page-body { top: 8vh; padding-bottom: 8vh; }

  .other-body { top: 8vh; min-height: 78vh; }

  .footer { margin-top: 8vh; }

  .projects { width: 80%; }

  .project-card { width: 25%; }

  .width { width: 40%; }

  .skills { height: 25vh; }
}
