:root {
  --black: #222222;
  --gray: #444444;
  --red: #D2263C;
  --light-gray: #e4e1e1;
}

body {
  background-color: var(--black);
  color: white;
  /* background-image: url(../public/background.jpg); */
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}

.top-panel {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100vw;
  background-color: var(--black);
  border-bottom: 2px solid var(--red);
  display: flex;
  align-items: center;
  z-index: 1;
}

.name {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 25px;
}

.name:hover {
  cursor: pointer;
}

.links {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 25px;
}

.link {
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.link:hover {
  border-radius: 4px;
  cursor: pointer;
}

.page-body {
  background-color: var(--black);
  color: white;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.page-body:first-of-type {
  top: 5vh;
  height: 95vh;
}

.section-title {
  font-size: 64px;
  font-weight: bold;
  margin: 50px;
  color: white;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 80%;
}

.project {
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.project:hover {
  background-color: var(--red);
  /* cursor: pointer; */
}

#budget_buddy {
  background-image: url(../public/background.jpg);
}

.project-icons {
  margin-top: 25px;
  display: flex;
}

.project-icons a {
  text-decoration: none;
  color: var(--black);
}

.project-icons i {
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
}

.project-icons i:hover {
  background-color: white;
  cursor: pointer;
}

.image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.about-text {
  margin-top: 25px;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}

.profile-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-right: 25px;
}

.profile-link:last-of-type {
  margin-right: 0;
}

.profile-link:hover {
  color: var(--red);
}

.profile-link:active {
  color: var(--black);
}
