:root {
  --black: #222222;
  --gray: #444444;
  --red: #D2263C;
  --light-gray: #e4e1e1;
}

body {
  background-color: var(--gray);
  /* background-image: url(../public/background.jpg); */
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}

.top-panel {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100vw;
  background-color: var(--black);
  display: flex;
  align-items: center;
  z-index: 1;
}

.name {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 25px;
}

.name:hover {
  cursor: pointer;
}

.links {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 25px;
}

.link {
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.link:hover {
  border-radius: 4px;
  cursor: pointer;
}

.page-body {
  position: relative;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.section-title {
  font-size: 64px;
  font-weight: bold;
  margin: 25px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 80%;
}

.project {
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.project:hover {
  background-color: var(--red);
  cursor: pointer;
}

.project-icons {
  margin-top: 25px;
  display: flex;
}

.project-icons a {
  text-decoration: none;
  color: var(--black);
}

.project-icons i {
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
}

.project-icons i:hover {
  background-color: white;
  cursor: pointer;
}

.first-icon {
  margin-right: 15px;
}
