:root {
  --black: #222222;
  --gray: #444444;
  --red: #D2263C;
}

body {
  background-color: var(--gray);
  background-image: url(../public/background.jpg);
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}

.top-panel {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100vw;
  background-color: var(--black);
  display: flex;
  align-items: center;
}

.page-body {
  position: relative;
  top: 5vh;
}

.name {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 25px;
}

.name:hover {
  cursor: pointer;
}

.links {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 25px;
}

.link {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.link:hover {
  background-color: white;
  border-radius: 4px;
  color: var(--black);
  cursor: pointer;
}
